body {
  margin:0;
}

.container{
  margin:1rem 3rem;
  padding: 0;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.book-container{
  margin:1rem 3rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.book-card{
  align-items: center;
  padding: 1rem 2rem;
  margin: 0 1rem;
}

.img-book{
  width: 60%;
  height: 15rem;
  display:block;
  margin-left:auto;
  margin-right:auto;
  align-items: center;
}

.title-book{
  padding-top: 1rem;
  width: 100%;
  font-size: 20px;
  height: 5rem;
  text-align: center;
}

.desc-book{
  width: 90%;
  font-size: 16px;
  text-align: center;
}


